*{
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body{
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  min-height: 1000px;
  width: 80vw;
  background: linear-gradient(45deg, #bbabd3, #b6dbea, #f7eac8, #b67df0 ) no-repeat;
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
}

h1{
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  transform: translateY(-50%);
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#color-palette{
  display: flex;
  justify-content: center;
}

.color{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
}
.pixel{
  display: inline-block;
  /* flex-wrap: wrap; */
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
  margin: 0px 0px -4px;
}

#container-board{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#pixel-board{
  margin-top: 0;
  margin-bottom: 0;
}

#board-size{
  width: 125px;
  height: 25.3px;
  margin-top: 20px;
  font-family: Press Start 2P;
  font-size: 10px;
  border-radius: 5px;
}

#generate-board{
  width: 60px ;
  height: 26px;
  padding: auto;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 10px;
}

#clear-board{
  width: 100px ;
  height: 26px;
  padding: auto;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 10px;
}

@keyframes colors{
  0% {
    background-position: 0% 50% ;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
